extends layout

block content
  h1.title= title
  .row
    .col-md-2.col-md-offset-4.center
      p Aquaberry #1<br/>
        span.custom-stack.fa-lg
          span.fa.fa-circle.stack.stack-external.green
          span.fa.fa-lightbulb-o.stack.stack-internal
    .col-md-2.center
      p Aquaberry #2<br/>
        span.custom-stack.fa-lg
          span.fa.fa-circle.stack.stack-external.red
          span.fa.fa-lightbulb-o.stack.stack-internal
  p.center
    span.fa.fa-cog.fa-4x.fa-spin#cog

